@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  
}

body {
  font-family: 'Poppins', sans-serif;
  
}


h1{
    font-size: 200px;
    border: 2px solid orange;
    padding: 2rem;
    margin: 3rem;
}

.spaces {
    height: 20vh;
  }